@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", system-ui;
}

body {
    background-color: #efefef;
    /* display: grid; */
    width: 100%;
    /* grid-template-columns: 100%;
    grid-template-rows: 100vh auto; */
    padding: 0 4px;
    /* overflow-x: hidden; */
}

li {
    list-style: none;
}

nav, .nav-links, .nav-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    padding: 10px 25px;
    position: sticky;
    top: 0;
    background-color: #efefef;
}

.logo-text {
    font-weight: 500;
    font-size: 1.3rem;
}

.nav-links > li {
    margin-right: 35px;
    user-select: none;
    cursor: pointer;
    font-size: 0.9rem;
}

.nav-icons > span {
    margin-left: 20px;
    cursor: pointer;
}

main {
    background-color: #fafafa;
}

.banner {
    height: 100vh;
    background-image: url("./images/banner.jpg");
    background-clip: border-box;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 8px;
    color: #efefef;
    padding: 30px;
}

h1 {
    font-weight: 300;
    font-size: 7rem;
    line-height: 6rem;
    margin-bottom: 10px;
}

.text, .shop-now-btn {
    font-weight: 300;
    font-size: 1rem;
    margin-bottom: 20px;
    letter-spacing: 0.5px;
    margin-bottom: 18px;
}

.shop-now-btn {
    display: flex;
    align-items: center;
    padding: 12px 18px;
    border-radius: 25px;
    background-color: #efefef;
    width: max-content;
    color: #000000;
    font-weight: 400;
    cursor: pointer;
}

.new-arrivals {
    background-color: #f6f6f6;
    padding: 50px 0;
}

.new-arrivals-head {
    text-align: center;
    font-weight: 400;
    font-size: 1.8rem;
}

.product-cards {
    display: grid;
    grid-template-columns: repeat(4, 20%);
    grid-template-rows: auto;
    gap: 10px;
    margin-top: 40px;
    justify-content: center;
}

.product-card {
    width: auto;
    height: 400px;
    overflow: hidden;
}

.product-image-container {
    height: 80%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin-bottom: 10px;
}

.product-image {
    object-fit: contain;
    width: 80%;
}

.sofa {
    height: 80%;
}

.club-chair {
    height: 50%;
}

.drop-chair {
    height: 50%;
}

.arm-chair {
    height: 60%;
}

.gold-white-coffee-table {
    height: 40%;
}

.grey-chair {
    height: 50%;
}

.metal-chair {
    height: 50%;
}

.side-table {
    height: 40%;
}

.product-name, .product-price {
    font-weight: 400;
    font-size: 1rem;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 99999px;
}

::-webkit-scrollbar-thumb {
    background: #000000;
    border-radius: 99999px;
}

::-webkit-scrollbar-thumb:hover {
    background: #3b3b3c;
    border-radius: 99999px;
}